@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Tajawal:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    max-width: 1920px;
}

/* headings and logos */

h1, h2 {
    font-family: 'Tajawal', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: rgba(165, 235, 144, 0.7);
    
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Games rules flag strip design design */

#flag-stripe {
    max-width: 100%;
    max-height: 145px;
    display: flex;
    clear: both;
    position: relative;
    background-color: rgb(224, 247, 215);
}

.flags {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    padding: 3px;
}

/* Games rules text design */

#rules {
    font-size: 100%;
    background-color: rgba(92, 182, 65, 0.904);
    height: 490px;
    position: relative;
    clear: both;
    display: flex;
}


.rules-title {
    font-size: 200%;
    font-weight: bold;
    padding-left: 8%;
    padding-top: 15%;
    text-align: center;
}

.rules-text {
    max-height: fit-content;
    max-width: fit-content;
    font-weight: bold;
    margin: 1em;
    margin-left: 10%;
    padding: 4%;
    border: 3mm ridge rgb(76, 145, 55);
    border-radius: 10px;
    background-color: rgb(224, 247, 215);
}


/* last section sign up link button */

#play-link {
    height: fit-content;
    width: fit-content;
    background-color: rgb(224, 247, 215);
    text-align: center;
    margin: 20px;
    padding: 1em;
    margin-left: 10%;
    margin-top: 8%;
    border-radius: 10px;
}

.play-link {
    margin-top:10px;
    border-radius:3px;
    padding:15px 32px 15px 32px;
    text-align:center;
    font-size:100%;
    background-color:rgba(36, 92, 19, 0.7);
    color:#fafafa;
    
}

.play-link:hover {
    background-color:rgba(165, 235, 144, 0.7);
    color:rgba(38, 94, 21, 0.7);
}

/* Footer  */

footer {
    height: 40px;
    bottom: 0;
    position: relative;
    padding: 10px 10px 0px 10px;
}

.social-networks {
    text-align: center;
    float: right;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

