@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Tajawal:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logos */

h1, h2 {
    font-family: 'Tajawal', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: rgba(165, 235, 144, 0.7);
    
}

.active {
    border-bottom: 1px solid #3a3a3a;
}



/* Games rules text design */

#rules {
    font-size: 150%;
    background-color: rgba(92, 182, 65, 0.904);
    height: 1000px;
    position: center;
    clear: both;
}

.rules-text {
    font-weight: bold;
    padding-top: 15%;
    padding-left: 30%;
    position: center center;
}


/* last section sign up link button */

#scores-link {
    width: 100%;
    height: 200px;
    text-align: center;
    margin-top: 60px;
}

.scores-link {
    margin-top:20px;
    border-radius:2px;
    padding:15px 32px 15px 32px;
    text-align:center;
    font-size:100%;
    background-color:rgba(36, 92, 19, 0.7);
    color:#fafafa;
    
}

.scores-link:hover {
    background-color:rgba(165, 235, 144, 0.7);
    color:rgba(38, 94, 21, 0.7);
}

/* Footer  */

footer {
    height: 150px;
    position: relative;
    clear: both;
}

.social-networks {
    text-align: center;
    float: right;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

